<div style="display: flex; align-items: center; justify-content: center; height: 100vh; color: #FFF; padding: 10px;">
    <div>
        <img src="/assets/img/bingoo.svg" alt="">
        <h1 class="mb-5">Explore the world with our kids</h1>
        <p>
            <small>&copy; 2021</small>
        </p>
    </div>
</div>