<div
    style="
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        color: #fff;
        padding: 10px;
    "
>
    <div>
        <img src="/assets/img/bingoo.svg" style="height: 40px;margin-bottom: 12px;" alt="" />
        <h1 class="mb-5">Explore the world with our kids</h1>
        <p>
            <a
                style="text-decoration: underline; color: #fff"
                target="_blank"
                href="https://apps.apple.com/us/developer/zhiming-huang/id850391620"
                >View our apps</a
            >
        </p>
        <div class="d-flex align-items-center justify-content-between">
            <small>&copy; 2021 BingooKids</small>
            <div>
                <a class="text-white" href="/privacy.html"><small>Privacy</small></a> <small>|</small> <a class="text-white" href="https://www.toolkitx.net" target="_blank"><small>ToolkitX</small></a>
            </div>
        </div>
    </div>
</div>
