<% PAGE_TITLE = "Privacy | BingooKids" %> <%- include('includes/start'); -%>

<div class="p d-flex align-items-center justify-content-center">
    <div style="max-width: 80%; padding: 8px;">
        <h2>Privacy Policy</h2>
        <p>&nbsp;</p>
        <p>
            BingooKids. ("we," "our," or "us") is committed to protecting your
            privacy. This Privacy Policy explains how your personal information
            is collected, used, and disclosed by BingooKids. This Privacy Policy
            applies to our application named Jungle Sounds, Jungle ABC , and its
            associated subdomains (collectively, our "Service"). By accessing or
            using our Service, you signify that you have read, understood, and
            agree to our collection, storage, use, and disclosure of your
            personal information as described in this Privacy Policy and our
            Terms of Service.
        </p>

        <h4>What Information Do We Collect?</h4>
        <p>Data Not Collected</p>
        <p>Updated at 2021-04-10</p>
    </div>
</div>

<%- include('includes/end'); -%>
